include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include payment_gateway_bidvest *.css
recursive-include payment_gateway_bidvest *.csv
recursive-include payment_gateway_bidvest *.html
recursive-include payment_gateway_bidvest *.ico
recursive-include payment_gateway_bidvest *.js
recursive-include payment_gateway_bidvest *.json
recursive-include payment_gateway_bidvest *.md
recursive-include payment_gateway_bidvest *.png
recursive-include payment_gateway_bidvest *.py
recursive-include payment_gateway_bidvest *.svg
recursive-include payment_gateway_bidvest *.txt
recursive-exclude payment_gateway_bidvest *.pyc