{% extends "templates/web.html" %}

{% block title %} Payment {% endblock %}

{%- block header -%}{% endblock %}

{% block script %}
{% endblock %}

{%- block page_content -%}
<body>
	<div class="container">
        <h2>Checkout Confirmation</h2>

		<form method="post" action="{{ payment_details.bidvest_url }}" name="bidvest_checkout_form">
			<input type="hidden" name="storename" value="{{submission_data.storename}}">
            <input type="hidden" name="txntype" value="sale">
            <input type="hidden" name="responseSuccessURL" value="{{submission_data.return_url}}">
            <input type="hidden" name="responseFailURL" value="{{submission_data.cancel_url}}">
            <input type="hidden" name="timezone" value="{{submission_data.timezone}}"/>
            <input type="hidden" name="txndatetime" value="{{submission_data.txndatetime}}"/>
            <input type="hidden" name="hash_algorithm" value="SHA256" />
            <input type="hidden" name="hash" value="{{submission_data.hash}}"/>
            <input type="hidden" name="checkoutoption" value="combinedpage"/>
            <input type="hidden" name="currency" value="710"/>
            <input type="hidden" name="mode" value="payonly"/>

            <div class="form-group row">
                <label for="m_payment_id" class="col-sm-2 col-form-label">Order ID</label>
                <div class="col-sm-10">
                    <input type="" readonly class="form-control" id="oid" name="oid" value="{{payment_details.order_id}}">
                </div>
            </div>
            <div class="form-group row">
                <label for="amount" class="col-sm-2 col-form-label">Amount ({{payment_details.currency}})</label>
                <div class="col-sm-10">
                    <input type="" readonly class="form-control" id="chargetotal" name="chargetotal" value="{{payment_details.amount}}">
                </div>
            </div>
            
            <input class="btn btn-secondary" type="button" value="Go back" onclick="history.back()">
            <input class="btn btn-primary" type="submit" value="Proceed to Payment">
		</form>
	</div>
</body>
{% endblock %}

{% block style %}
<style>
	.web-footer {
		display: none;
	}
</style>
{% endblock %}